@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;1000&display=swap');
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    background-color: rgba(225, 250, 255, 0);
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 1000vh;
    min-height: 500px;
    max-height: 1000px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgenes/1.jpg');
    background-size: cover;
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title {
    font-weight: 1000;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items {
    list-style: none;
}

.nav_links {
    color: #000;
    padding: 0;
}


/*Hero*/

.hero_container {
    max-width: 1200px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: flex-start;
    gap: 1em;
    padding-bottom: 100px;
    text-align: left;
}

.hero_title {
    font-size: 3rem;
}

.hero_paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: rgb(0, 55, 206);
    justify-self: left;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/*about*/

.about {
    text-align: center;
}

.about_paragrah {
    line-height: 1.7;
    text-align: left;
}

.about_icons {
    display: grid;
    gap: 2em;
    justify-items: left;
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.about_main {
    padding-top: 80px;
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}

.about_icon {
    width: 300px;
}

.about_cta {
    display: inline-block;
    background-color: rgb(0, 55, 206);
    justify-self: left;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/*knowledge*/

.knowledge {
    text-align: center;
}

.knowledge_paragrah {
    line-height: 1.7;
    text-align: center;
}

.knowledge_icons {
    display: grid;
    gap: 1em;
    justify-items: left;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
}

.knowledge_main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.knowledge_icon {
    width: 250px;
}

.knowledge_Button {
    padding-top: 80px;
}

.knowledge_cta {
    display: inline-block;
    background-color: rgb(0, 55, 206);
    justify-self: left;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}